
*.xml
*.prefs
*.tree
Manu/.metadata/.log
Manu/.metadata/version.ini
*.ini
*.ini
*.tree
*.xmi
*.xmi
*.properties
*.ini
*.resources
Manu/.metadata/.log
*.tree
Manu/.metadata/.log
*.resources
*.xmi
*.properties
*.ini
